html {
  font-size: 20px;
}
body{
 box-sizing: border-box;
 font-family:Microsoft YaHei;
  /* margin: 0; */
}
div,table,form,button,input,section,ul,ol,li{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
  color: #666666;
}
img{
  vertical-align: middle;
}
/* deve-style */
.container{
  width: 100%;
  /* border: 1px solid #333; */
}
.header{
  height: 4rem;
  /* height: 80px; */
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.applog{
  /* width: 160px; */
  width: 8rem;
  /* height: 44px; */
  height: 2.2rem;
  background: url("../public/imgs/applog.png") no-repeat;
  background-size: contain;
}
.pagelist{
  display: flex;
  /* width: 340px; */
  width: 17em;
  justify-content: space-around;
  font-size:16px;
}
.pagelist li>a {
  font-weight:bold;
}
.pagelist li>a:hover {
  cursor: pointer;
}
